@model Divar.Web.ViewModels.ProductViewModel
@{
    ViewBag.Title = "صفحه اصلی";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<aside id="fh5co-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
        <ul class="slides">
            <li style="background-image: url(images/img_bg_4.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
                        <div class="slider-text-inner">
                            <div class="desc">
                                <span class="price">800 میلیون</span>
                                <h2>آوودی</h2>
                                <p>
                                    مژده برای آوودی دوستان عزیز
                                    ماشین لوکس آوودی بسیار شیک و زیبا با فول امکانات با قیمت استثنایی 800.000.000 میلیون تومان

                                <p>  <span style="font-weight: bold">شماره تماس:</span>09121111111</p>
                                </p>
                                <p><a href="#" class="btn btn-primary btn-outline btn-lg">همین الان بخرید</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(images/img_bg_2.jpg);">
                <div class="container">
                    <div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
                        <div class="slider-text-inner">
                            <div class="desc">
                                <span class="price">500 میلیون</span>
                                <h2>فراری</h2>
                                <p>
                                    مژده برای علاقمندان خوردرو های فراری
                                    ماشین لوکس فراری بسیار شیک و زیبا با فول اسپورت فول امکانات با قیمت استثنایی 500.000.000 میلیون تومان
                                <p>  <span style="font-weight: bold">شماره تماس:</span>09121111111</p>
                                </p>
                                <p><a href="#" class="btn btn-primary btn-outline btn-lg">همین الان بخرید</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(images/img_bg_1.jpg);">
                <div class="container">
                    <div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
                        <div class="slider-text-inner">
                            <div class="desc">
                                <span class="price">450 میلیون</span>
                                <h2>اتومبیل اسپورت</h2>
                                <p>
                                    فروش استثنایی ماشین فول اسپورت ساخت کشور آمریکا برای دوستان عزیز با قیمت عالی و بینظیر برای شما فراهم کردیم
                                    فقط 450.000.000 میلیون تومان
                                <p>  <span style="font-weight: bold">شماره تماس:</span>09121111111</p>
                                </p>
                                <p><a href="#" class="btn btn-primary btn-outline btn-lg">همین الان بخرید</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(images/img_bg_3.jpg);">
                <div class="container">
                    <div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
                        <div class="slider-text-inner">
                            <div class="desc">
                                <span class="price">100 میلیون</span>
                                <h2>پورشه</h2>
                                <p>
                                    مژده برای پورشه دوستان عزیز
                                    ماشین لوکس پورشه بسیار شیک و زیبا با فول امکانات با قیمت استثنایی 100.000.000 میلیون تومان
                                <p>  <span style="font-weight: bold">شماره تماس:</span>09121111111</p>
                                </p>
                                <p><a href="#" class="btn btn-primary btn-outline btn-lg">همین الان بخرید</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div id="fh5co-product">
    <div class="container-fluid">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <img style="margin-top: -10%;border-top: 5px black solid;width: 100%;border-radius: 1%; " src="~/images/cash-for-commercial-trucks-brisbane.png" />
                <span style="font-weight: bold">آگهی</span>
                <h2>نمایشگاه</h2>
                <p>نوع دسته بندی خود را مشخص کنید</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                @using (Html.BeginForm())
                {
                    <div id="accordion" class="panel panel-primary behclick-panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">جستجو وسلیه نقلیه</h3>
                        </div>
                        <div class="panel-body">
                            <div class="panel-heading ">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse0">
                                        <i class="indicator fa fa-caret-down" aria-hidden="true"></i> قیمت
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse0" class="panel-collapse collapse in">
                                <b style="font-size: 0.8em"> @Model.PriceMin تومان </b>
                                <input id="ex2" type="text" class="span2" value="" name="Price" data-slider-min="@Model.PriceMin" data-slider-max="@Model.PriceMax" data-slider-step="5" data-slider-value="[@Model.PriceMin,@Model.PriceMax]" />
                                <b style="font-size: 0.8em"> @Model.PriceMax تومان </b>
                            </div>
                            <div class="panel-heading ">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse1">
                                        <i class="indicator fa fa-caret-down" aria-hidden="true"></i> برند
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <ul class="list-group">
                                    @foreach (var color in Model.Manufacturers)
                                    {
                                        <li class="list-group-item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="radio" value="@color.Name" name="Brand">
                                                    @color.Name
                                                </label>
                                            </div>
                                        </li>
                                    }

                                </ul>
                            </div>
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse3"><i class="indicator fa fa-caret-down" aria-hidden="true"></i> رنگ</a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse in">
                                <ul class="list-group">
                                    @foreach (var color in Model.Colors)
                                    {
                                        <li class="list-group-item">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="radio" value="@color.Name" name="Color">
                                                    @color.Name
                                                </label>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse2"><i class="indicator fa fa-caret-right" aria-hidden="true"></i> Collapsible list group</a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="checkbox">
                                            <label>
                                                <input type="radio" value="" name="PageNumber">
                                                7
                                            </label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="checkbox">
                                            <label>
                                                <input type="radio" value="" name="PageNumber">
                                                8
                                            </label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="checkbox">
                                            <label>
                                                <input type="radio" value="" name="PageNumber">
                                                9
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                }

            </div>
            <div class="col-xs-6 col-sm-9">
                @foreach (var item in Model.Advertisements)
                {
                    var imageUrl = Model.Images.SingleOrDefault(i => i.IdAdvertising == item.Id).Url;
                    var productName = Model.Products.SingleOrDefault(p => p.IdAdvertisement == item.Id).Name;
                    var productPrice = Model.Products.SingleOrDefault(p => p.IdAdvertisement == item.Id).Price;

                    <div class="col-md-4 text-center animate-box">
                        <div class="product">
                            <div class="product-grid" name="ImageUrl" style="background-image: url('@Url.Content(imageUrl)');">
                                <div class="inner">
                                    <p>
                                        <a href="@Url.Action("Adv","Advertisement",new {advId = item.Id})" class="icon"><i class="icon-eye"></i></a>
                                    </p>
                                </div>
                            </div>
                            <div class="desc">
                                <h3>
                                    <a href="@Url.Action("Adv","Advertisement",new {advId = item.Id})" data-toggle="modal" data-target="#ad1">@productName</a>
                                </h3>
                                <span class="price" style="font-weight: bold">قیمت:</span><span class="price">@productPrice</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

