@model IEnumerable<Divar.Web.Areas.Admin.ViewModels.TroubleShootingViewModel>

@{
    ViewBag.Title = "خطا آگهی";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminPage.cshtml";
}

<table class="table table-responsive table-bordered table-striped" dir="rtl">
    <tr class="text-center">
        <th>
            @Html.DisplayNameFor(model => model.AdvName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdvName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        
        <td>
            @*@Html.ActionLink("جزئیات", "Details", new { advId = item.Id }) |*@
            @Html.ActionLink("حذف", "Delete", new { advId = item.Id })
        </td>
    </tr>
}

</table>
