@model IEnumerable<Divar.Core.Entities.Manufacturer>

@{
    ViewBag.Title = "لیست شرکت ها";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminPage.cshtml";
}

<p class="col-md-4">
    <a href="@Url.Action("Create")" class="btn btn-block btn-info">ساخت شرکت جدید</a>
</p>
<table class="table table-bordered" dir="rtl">
    <thead>
        <tr>
            <th>
                نام شرکت
            </th>
            <th>
                توضیحات
            </th>
            <th>
                تنظیمات
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("ویرایش", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("حذف", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
